{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}分配学生班级和课程{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            <h1> 分配学生班级和配置学生课程 </h1>
            <br/>
            <p>
                编辑学生
                <span style="color: #00dd66;">
                    {{ user.name }}
                </span>
                的班级和个人信息
            </p>
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
